<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>
    <meta charset="UTF-8">
    <title>Page de login</title>
    <link  th:href="@{/static/css/main.css}"  rel="stylesheet" type="text/css" />
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/semantic.css}">
</head>
<body>

	<section class="vh-100 gradient-custom">
	<div class="container py-5 h-100">
		<form th:action="@{/login}" method="post">
		<div
			class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-primary text-white" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">

						<div class="mb-md-5 mt-md-4 pb-5">

							<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
							<p class="text-white-50 mb-5">Please enter your login and
								password!</p>

							<div class="form-outline form-white mb-4">
								<input type="text" id="typeEmailX" name="username"
									class="form-control form-control-lg" /> <label
									class="form-label" for="typeEmailX">Username</label>
							</div>

							<div class="form-outline form-white mb-4">
								<input type="password" id="typePasswordX" name="password"
									class="form-control form-control-lg" /> <label
									class="form-label" for="typePasswordX">Password</label>
							</div>
							<div class="form-check mb-2 form-white ">
								<input type="checkbox" id="rememberMeid" value="true" name="remember-me"
									class="form-check-input" /> <label
									class="form-check-label" for="rememberMeid">Remember me</label>
							</div>
							<input type="hidden" name="${_csrf.parameterName}"
								value="${_csrf.token}" />

							<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>							

						</div>

					</div>
				</div>
			</div>
		</div>
		</form>
	</div>
	</section>


</body>
</html>