<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/semantic.css}">
    <link  th:href="@{/static/css/main.css}"  rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="error">
		Logged user: <span sec:authentication="name">Bob</span>
	</div>
	<h1   th:text="'Bonjour '+ ${session.username}"> Bonjour</h1>
	<div  sec:authorize="hasRole('USER')">
		<h3>Aller a  la page session <a href="formation/session?nb=1001">Page de session de formation</a></h3>
		
		<br/>
	</div>
	
	<!-- 	sec:authorize="isAuthenticated()" -->
	<!-- 	sec:authorize="hasRole('ROLE_ADMIN')" -->
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<h3>Aller a  la liste des projets .. <a href="formation/projets">Liste des projets</a></h3>		
		<br/>
		<br/>
		<h3>Ajouter un nouveau projet .. <a href="formation/projets/addProjet">Ajouter un projet</a></h3>	
	</div> 
	<br/><br/>
	<div>
		<h3>Aller a  la demo web sockets .. <a th:href="@{/api/wss/msg-handler/message}">Demo web sockets </a></h3>		
			
	</div>
	<br/><br/> 
	<a th:class="error" th:href="@{/logout}" href="/logout" >Logout</a>
	<br/><br/>
	<a  th:href="@{/index}"  href="/index">&lt;&lt; Retour</a>


</body>
</html>